<h1>Listing stores</h1>

<%= link_to 'New Store', new_store_path %>
</br>
<table>
  <tr>
    <th>Store</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Last Visit</th>
    <th>Spent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.store %></td>
    <td><%= store.address %></td>
    <td><%= store.city %></td>
    <td><%= store.state %></td>
    <td><%= store.zipcode %></td>
    <td><%= store.store_visit_date %></td>
    <td><%= store.store_visit_spend %></td>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= gmaps4rails(@json) %>
